gradio
transformers
huggingface-hub
sacremoses
accelerate==0.21.0
peft==0.4.0
bitsandbytes==0.40.2
transformers==4.31.0
trl==0.4.7
speechrecognition
git+https://github.com/openai/whisper.git 
paddlepaddle-gpu
paddleocr>=2.0.1
google-generativeai

